---
/**
 * An event listing is meant to provide a clickable preview card for an event,
 * typically for placing on other non-event pages.
 */

import { DateTime } from "luxon";
import type { ParsedEvent } from "@lib/events";

import EventTime from "@components/event/Time.astro";
import EventLocation from "@components/event/Location.astro";
import EventInvite from "@components/event/Invite.astro";

interface Props {
  event: ParsedEvent;
  class?: string;
}

const { event, class: className = "", ...rest } = Astro.props;

function isPast(): string {
  const now = DateTime.local();
  if (event.dateTime.toSeconds() < now.toSeconds()) {
    return "is-past";
  }
  return "";
}
---

<a
  href={`/events/${event.id}`}
  class={`event-listing ${isPast()} ${className}`}
  {...rest}
>
  <div class="date">
    <span class="weekday">{event.dateTime.weekdayShort}</span>
    <span class="day">{event.dateTime.day}</span>
    <span class="month">{event.dateTime.monthShort}</span>
  </div>

  <div class="event-details">
    <span class="title">{event.data.title}</span>
    <EventTime event={event} />
    <EventLocation event={event} />
    <EventInvite event={event} />
  </div>
</a>

<style>
  .is-past {
    opacity: 80%;
  }

  .event-listing {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--secondary-300);
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);

    text-decoration: none;

    &:hover,
    &:focus-visible {
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
    }
  }

  .date {
    flex: 0 0 auto;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    min-width: calc(var(--fs-700) * 2);

    background-color: var(--accent);
    color: var(--primary-500);

    font-size: var(--fs-400);
    font-weight: 500;

    .weekday {
    }

    .day {
      font-size: var(--fs-500);
      font-weight: 600;
    }

    .month {
    }
  }

  .event-details {
    font-size: var(--fs-400);

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    color: var(--primary);
    padding: var(--fs-400);
    gap: 0.25em;

    .title {
      font-size: var(--fs-400);
      font-weight: 700;
    }
  }

  @media screen and (width < 25rem) {
    .event-listing {
      flex-flow: column nowrap;
    }

    .date {
      flex-flow: row nowrap;
      gap: 1ch;
      padding-block: 1em;

      .weekday {
      }

      .day {
        order: 1; /* force date to the end */
        font-size: inherit;
        font-weight: inherit;
      }

      .month {
      }
    }
  }
</style>
