---
/**
 * An event listing is meant to provide a clickable preview card for an event,
 * typically for placing on other non-event pages.
 */

import type { ParsedEvent } from "@lib/events";
import { DateTime } from "luxon";
import EventTime from "@components/event/Time.astro";
import EventLocation from "@components/event/Location.astro";
import EventInvite from "@components/event/Invite.astro";

interface Props {
  event: ParsedEvent;
  class?: string;
}

const { event, class: className = "", ...rest } = Astro.props;

function isPast(): string {
  const now = DateTime.local();
  if (event.dateTime.toSeconds() < now.toSeconds()) {
    return "is-past";
  }
  return "";
}
---

<a
  href={`/events/${event.id}`}
  class={`event-listing ${isPast()} ${className}`}
  {...rest}
>
  <div class="date">
    <span class="weekday">{event.dateTime.weekdayShort}</span>
    <span class="day">{event.dateTime.day}</span>
    <span class="month">{event.dateTime.monthShort}</span>
  </div>

  <div class="event-details">
    <p class="title">{event.data.title}</p>
    <EventTime event={event} />
    <EventLocation event={event} />
    <EventInvite event={event} />
  </div>
</a>

<style>
  .is-past {
    opacity: 80%;
  }

  .event-listing {
    display: grid;
    grid-template-columns: 6rem 1fr;
    text-decoration: none;
    background-color: var(--secondary-300);
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    align-items: center;

    &:hover,
    &:focus-visible {
      box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
    }
  }

  .event-details {
    color: var(--primary);
    padding: 1rem;

    .title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.1;
      padding: 0;
      margin: 0;
      color: var(--primary-700);
      width: fit-content;
    }
  }

  .date {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    background-color: var(--accent);
    color: var(--primary-700);

    .weekday {
      font-weight: 600;
      font-size: 1.25rem;
    }

    .day {
      font-weight: 700;
      font-size: 1.5rem;
    }

    .month {
      font-weight: 600;
      font-size: 1.25rem;
    }
  }
</style>
