---
import { DateTime } from "luxon";

import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

import LinkButton from "@components/LinkButton.astro";
import IndexClubHero from "@components/index/Hero.astro";

import WalnutCanyon from "@assets/pages/index/2025_04__Walnut_Canyon.jpg";
import DayTrip from "@assets/pages/index/2025_06__Pucker_Ridge.jpg";
import Overland from "@assets/pages/index/2025_05__Monument_Valley.jpg";
import NightRun from "@assets/pages/index/2024_06__Hieroglyphic_Night_Run.jpg";
import Community from "@assets/pages/index/2024_12__Parade_Of_Lights.jpg";
import { getUpcomingEvents } from "@lib/events";

const upcomingEvents = await getUpcomingEvents(4);
---

<BaseLayout title="Copperstate4Wheelers">
  <IndexClubHero />

  <section class="container">
    <h2>- About Us -</h2>
    <div class="autogrid">
      <article>
        <h3>Mission</h3>
        <p>
          We are a nonprofit club dedicated to promoting safe, enjoyable, and
          family-friendly off-roading. Whether you're just getting started or a
          long-time enthusiast, we're bound to have something planned that you
          will enjoy!
        </p>
        <LinkButton href="#">Learn More!</LinkButton>
      </article>

      <Image
        src={WalnutCanyon}
        alt="The day we went to Walnut Canyon in April 2025."
        title="Walnut Canyon, April 2025"
        width="1920"
        class="about-us-img"
      />
    </div>
  </section>

  <section>
    <h2>- What We Do -</h2>
    <div class="autogrid baseline container">
      <article class="card">
        <Image
          src={DayTrip}
          alt="A trail map snapshot for a recent day trip."
          title='Day Trip on Montana Mountain: "Pucker Ridge"'
          width="1920"
        />
        <h3>Day Trips</h3>
        <p>
          Our most frequent adventures, Day Trips offer a full day of
          off-roading excitement. We gather, prepare our rigs, and hit the
          trails, concluding by afternoon or evening. Guests are often welcome,
          but always confirm details on our event listing!
        </p>
      </article>
      <article class="card">
        <Image
          src={Overland}
          alt="Tents overlooking the mittens in Monument Valley, AZ."
          title="Tent camping can yield unique and breathtaking views"
          width="1920"
        />
        <h3>Overlanding</h3>
        <p>
          Our Overlanding trips are multi-day expeditions, offering a deeper
          dive into off-road exploration. They require more planning but promise
          unforgettable memories, with members utilizing everything from RVs to
          tents. Due to the extended duration, these enriching experiences are
          typically members-only.
        </p>
      </article>

      <article class="card">
        <Image
          src={NightRun}
          alt="Staging at sunset for a night run."
          title="Offroading after dark is a completely different experience"
          width="1920"
        />
        <h3>Night Runs</h3>
        <p>
          When the sun sets, the adventure begins! Night Runs are a unique way
          to conquer trails, especially during hot summer months. Kicking off at
          dusk and lasting into the night, these trips offer an exhilarating
          test of dark-trail navigation.
        </p>
      </article>

      <article class="card">
        <Image
          src={Community}
          alt="Vehicles decorated for the Chandler Parade Of Lights 2024."
          title="Decorating vehicles for the Chandler Parade of Lights 2024"
          width="1920"
        />
        <h3>Beyond The Trails</h3>
        <p>
          Off the trails, we're still full throttle! Holiday celebrations, club
          meetings, and conservation work are all part of how we stay connected.
        </p>
      </article>
    </div>
  </section>

  <section>
    <h2>- Upcoming Events -</h2>
    <div>
      <article>
        {
          upcomingEvents.map((event) => {
            return (
              <p>
                {event.dateTime.toLocaleString(DateTime.DATE_MED_WITH_WEEKDAY)}{" "}
                | {event.data.title}
              </p>
            );
          })
        }
      </article>
    </div>
  </section>
</BaseLayout>

<style>
  section {
    --title-size: 5rem;
    --subtitle-size: 3rem;

    padding: 0 var(--subtitle-size);
  }

  img {
    max-width: 100%;
    height: auto;
  }

  section h2 {
    font-size: var(--title-size);
    padding: 1em 0em;
    margin: 0;
    text-align: center;
  }
  article h3 {
    font-size: var(--subtitle-size);
    padding: 0;
    margin: 1rem 0rem;
  }
  section article {
    font-size: 1.5rem;
    text-align: left;
  }

  .card {
    background-color: var(--secondary-300);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.3);

    img {
      border-radius: inherit;
      border: 2px solid var(--primary);
    }

    &:hover,
    &:focus-visible {
      box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
    }
  }

  .baseline {
    align-items: stretch;
  }

  .bg-white {
    background-color: white;
  }

  @media screen and (max-width: 768px) {
    section {
      --title-size: 4rem;
      padding: 0 1rem;
      padding-bottom: calc(var(--title-size) * 2);
    }

    .card {
      /* smaller padding on cards for smaller screens. */
      padding: 1rem;
    }
  }
</style>
