---
import { Image } from "astro:assets";

import BaseLayout from "@layouts/BaseLayout.astro";

import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import IndexClubHero from "@components/index/Hero.astro";

import WalnutCanyon from "@assets/pages/index/2025_04__Walnut_Canyon.jpg";
import DayTrip from "@assets/pages/index/2025_06__Pucker_Ridge.jpg";
import Overland from "@assets/pages/index/2025_05__Monument_Valley.jpg";
import NightRun from "@assets/pages/index/2024_06__Hieroglyphic_Night_Run.jpg";
import Community from "@assets/pages/index/2024_12__Parade_Of_Lights.jpg";
---

<BaseLayout title="Copperstate4Wheelers">
  <Navbar />

  <main>
    <IndexClubHero />

    <section>
      <h2>- About Us -</h2>
      <div class="autogrid">
        <article>
          <h3>Mission</h3>
          <p>
            We are a nonprofit club dedicated to promoting safe, enjoyable, and
            family-friendly off-roading. Whether you're just getting started or
            a long-time enthusiast, we're bound to have something planned that
            you will enjoy!
          </p>
          <LinkButton href="#">Learn More!</LinkButton>
        </article>

        <Image
          src={WalnutCanyon}
          alt="The day we went to Walnut Canyon in April 2025."
          title="Walnut Canyon, April 2025"
          width="1920"
          class="about-us-img"
        />
      </div>
    </section>

    <section class="bg-white">
      <h2>- What We Do -</h2>
      <div class="autogrid baseline">
        <article class="card">
          <Image
            src={DayTrip}
            alt="A trail map snapshot for a recent day trip."
            title='Day Trip on Montana Mountain: "Pucker Ridge"'
            width="1920"
          />
          <h3>Day Trips</h3>
          <p>
            Day trips are the most common activity the Copperstate 4 Wheelers
            do. A typical day unfolds like this: first, we meet at a familiar
            location near the trailhead; next, we find the trail and air down;
            finally, we run the trail, often finishing sometime in the afternoon
            or evening.
          </p>
          <p>
            Day trips are typically open to guests. Ultimately it's up to the
            trip leader to decide, so always check the event listing!
          </p>
        </article>
        <article class="card">
          <Image
            src={Overland}
            alt="Tents overlooking the mittens in Monument Valley, AZ."
            title="Tent camping can yield unique and breathtaking views"
            width="1920"
          />
          <h3>Overlanding</h3>
          <p>
            We usually fit in a few overlanding trips each year. These take more
            preparation and planning and are always a blast. Many of our members
            enjoy camping in trailers or full-sized RVs when possible, while
            others prefer roughing it in tents.
          </p>
          <p>
            Multi-day trips are typically members-only as we like to be familiar
            with who we'll spend so much time with.
          </p>
        </article>
        <article class="card">
          <Image
            src={NightRun}
            alt="Staging at sunset for a night run."
            title="Offroading after dark is a completely different experience"
            width="1920"
          />
          <h3>Night Runs</h3>
          <p>
            Night runs are a rare alternative to day trips. When we do these,
            it's usually in the summer as a way to beat the heat in the valley.
            A night run usually starts around sunset and finishes well into the
            night. We select runs that offer a good view of the city. It's
            always a blast to overcome the challenge of navigating off-road in
            the dark.
          </p>
          <p>
            Similar to day trips, these are often open to guests. When in doubt,
            check the event listing!
          </p>
        </article>

        <article class="card">
          <Image
            src={Community}
            alt="Vehicles decorated for the Chandler Parade Of Lights 2024."
            title="Decorating vehicles for the Chandler Parade of Lights 2024"
            width="1920"
          />
          <h3>Community Events</h3>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Aspernatur, nostrum? Possimus blanditiis illum perferendis nihil
            recusandae architecto ipsa amet ea natus, consequatur explicabo
            repellendus reiciendis sed optio eos tenetur magnam.
          </p>
        </article>
      </div>
    </section>

    <section>
      <h2>- Upcoming Events -</h2>
      <div>
        <article>
          <p>-</p>
        </article>
      </div>
    </section>
  </main>

  <Footer />
</BaseLayout>

<style>
  main {
    background-color: var(--secondary);
  }

  section {
    --title-size: 5rem;
    --subtitle-size: 3rem;

    padding: 0 var(--subtitle-size);
    padding-bottom: calc(var(--title-size) * 2);
  }

  section h2 {
    font-size: var(--title-size);
    padding: 1em 0em;
    margin: 0;
    text-align: center;
  }

  article h3 {
    font-size: var(--subtitle-size);
    padding: 0;
    margin: 1rem 0rem;
  }

  section article {
    font-size: 1.5rem;
    text-align: left;
  }

  .card {
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 0.4rem;
  }

  .baseline {
    align-items: baseline;
  }

  .bg-white {
    background-color: white;
  }

  @media screen and (max-width: 768px) {
    section {
      --title-size: 4rem;
    }
  }
</style>
