---
import { Image } from "astro:assets";
import { DateTime } from "luxon";
import { getUpcomingEvents } from "@lib/events";

import BaseLayout from "@layouts/BaseLayout.astro";

import IndexClubHero from "@components/index/Hero.astro";
import EventListing from "@components/event/Listing.astro";
import LinkButton from "@components/LinkButton.astro";

import WalnutCanyon from "@assets/pages/index/2025_04__Walnut_Canyon.jpg";
import DayTrip from "@assets/pages/index/2025_06__Pucker_Ridge.jpg";
import Overland from "@assets/pages/index/2025_05__Monument_Valley.jpg";
import NightRun from "@assets/pages/index/2024_06__Hieroglyphic_Night_Run.jpg";
import Community from "@assets/pages/index/2024_12__Parade_Of_Lights.jpg";

const upcomingEvents = await getUpcomingEvents(4);
---

<BaseLayout title="Copperstate4Wheelers">
  <IndexClubHero />

  <section class="wide">
    <h2>- About Us -</h2>
    <div class="autocolumn">
      <article>
        <h3>Mission</h3>
        <p>
          We are a nonprofit club dedicated to promoting safe, enjoyable, and
          family-friendly off-roading. Whether you're just getting started or a
          long-time enthusiast, we're bound to have something planned that you
          will enjoy!
        </p>
        <LinkButton href="/about">Learn More!</LinkButton>
      </article>

      <Image
        src={WalnutCanyon}
        alt="The day we went to Walnut Canyon in April 2025."
        title="Walnut Canyon, April 2025"
        width="1080"
        class="about-us-img"
        sizes="40vw"
      />
    </div>
  </section>

  <section class="ultrawide">
    <h2>- What We Do -</h2>
    <div class="autocolumn">
      <article class="card">
        <Image
          src={DayTrip}
          alt="A trail map snapshot for a recent day trip."
          title='Day Trip on Montana Mountain: "Pucker Ridge"'
          width="1920"
          sizes="40vw"
        />
        <h3>Day Trips</h3>
        <p>
          Our most frequent adventures, Day Trips, typically offer a full day of
          off-roading. We gather in the morning, review the plan, air down, and
          hit the trail, concluding by afternoon or evening. Guests are often
          welcome, but always confirm details on our event listing!
        </p>
      </article>

      <article class="card">
        <Image
          src={Overland}
          alt="Tents overlooking the mittens in Monument Valley, AZ."
          title="Tent camping can yield unique and breathtaking views"
          width="1920"
          sizes="40vw"
        />
        <h3>Overlanding</h3>
        <p>
          Overlanding trips are multi-day expeditions that require a little more
          planning. Members utilize tents, pull-behind trailers, and even RVs,
          depending on gear and campsite conditions. Due to their extended
          duration, these experiences are typically members-only.
        </p>
      </article>

      <article class="card">
        <Image
          src={NightRun}
          alt="Staging at sunset for a night run."
          title="Offroading after dark is a completely different experience"
          width="1920"
          sizes="40vw"
        />
        <h3>Night Runs</h3>
        <p>
          When the sun sets, the adventure begins! Night Runs are a unique way
          to explore otherwise familiar trails, especially during hot summer
          months. Kicking off at dusk and lasting into the night, these trips
          offer a new perspective.
        </p>
      </article>

      <article class="card">
        <Image
          src={Community}
          alt="Vehicles decorated for the Chandler Parade Of Lights 2024."
          title="Decorating vehicles for the Chandler Parade of Lights 2024"
          width="1920"
          sizes="40vw"
        />
        <h3>Beyond The Trails</h3>
        <p>
          Off the trails, we're still full throttle! Holiday celebrations, club
          meetings, and conservation work are all part of how we stay connected.
        </p>
      </article>
    </div>
  </section>

  <section class="content">
    <h2>- Upcoming Events -</h2>
    <div class="upcoming-events">
      {
        upcomingEvents.map((event) => {
          return <EventListing event={event} class="upcoming-event" />;
        })
      }
    </div>

    <LinkButton
      class="all-events"
      href={`/events/${DateTime.local({ zone: "America/Phoenix" }).year}`}
    >
      See All Events
    </LinkButton>
  </section>
</BaseLayout>

<style>
  section {
    h2 {
      text-align: center;
      font-size: var(--fs-700);
    }

    h3 {
      font-size: var(--fs-500);
      font-weight: 600;
    }

    p {
      font-size: var(--fs-400);
      line-height: 1.2em;
    }
  }

  .autocolumn {
    --column-width: 15rem;
    & > * {
      align-self: stretch;
    }
  }

  .upcoming-events {
    .upcoming-event {
      margin-block: var(--fs-400);
    }
  }
</style>
