---
/**
 * A reusable hero section with a big visual title and a background image.
 **/

import { Image } from "astro:assets";

interface Props {
  backgroundImage: ImageMetadata;
  backgroundImageAlt: string;
  class?: string;
  title?: string;
  subtitle?: string;
  maxHeight?: string;
}

import type { ImageMetadata } from "astro";

const {
  backgroundImage,
  backgroundImageAlt,
  class: className = "",
  title = "",
  subtitle = "",
  maxHeight = "70vh",
} = Astro.props;
---

<div class={`fullwidth hero bg-primary ${className}`} transition:animate="none">
  <Image
    src={backgroundImage}
    alt={backgroundImageAlt}
    decoding="sync"
    loading="eager"
    width="1920"
    class="background fullwidth"
  />
  <div class="overlay fullwidth"></div>
  <div class="content ultrawide">
    <p class="hero-title ff-title fs-800">{title}</p>
    <p class="hero-subtitle fs-500">{subtitle}</p>
  </div>
</div>

<style define:vars={{ "max-height": maxHeight }}>
  .hero {
    display: grid;
    grid-template-rows: var(--max-height);
    overflow: hidden;
    max-height: var(--max-height);

    & > * {
      place-self: center;
      grid-row: 1 / 2;
    }
  }

  .background {
    display: block;
    width: 100%;
    height: var(--max-height);
    max-height: var(--max-height);
    object-fit: cover;

    background-color: var(--primary);
  }

  .overlay {
    width: 100%;
    height: var(--max-height);
    background-color: rgba(0, 0, 0, 0.35);
  }

  .content p {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  }

  .hero-title {
    font-weight: 400;
    margin: 0em;
  }

  .hero-subtitle {
    font-weight: 600;
  }
</style>
