---
interface Props {
  // link to the next year
  next?: string;

  // link to the previous year
  prev?: string;
}

import BaseLayout from "@layouts/BaseLayout.astro";
import EventListing from "@components/EventListing.astro";

/* Calculate years based on the available event listings. */
import * as events from "@lib/events";
import type { GetStaticPaths, GetStaticPathsResult } from "astro";

export const getStaticPaths = (async () => {
  const results: GetStaticPathsResult = [];
  const years = await events.getAllYears();
  for (let year of years) {
    results.push({
      params: { year },
      props: {
        next: years.has(year + 1) ? `/events/${year + 1}` : undefined,
        prev: years.has(year - 1) ? `/events/${year - 1}` : undefined,
      },
    });
  }
  return results;
}) satisfies GetStaticPaths;

const { year } = Astro.params;
const { next, prev } = Astro.props;

const eventsForYear = await events.getEventsForYear(year! as number);
---

<BaseLayout title={`CS4W: ${year}`}>
  <div class="events-page">
    <div class="title">
      {
        next && (
          <a class="year-nav next" href={next}>
            &lt&lt
          </a>
        )
      }
      <h2>Club Events: {year}</h2>
      {
        prev && (
          <a class="year-nav prev" href={prev}>
            &gt&gt
          </a>
        )
      }
    </div>

    <ul>
      {
        eventsForYear.map((event) => {
          return (
            <li>
              <EventListing event={event} />
            </li>
          );
        })
      }
    </ul>
    {next && <a href={next}>Next Year</a>}
    {prev && <a href={prev}>Previous Year</a>}
  </div>
</BaseLayout>

<style>
  .title {
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 0.5rem;
    margin: 4rem 0rem;

    h2 {
      grid-column: 2;
      display: inline;
      font-size: 4rem;
      padding: 0;
      margin: 0;
    }

    .next {
      grid-column: 1;
      text-align: right;
    }

    .prev {
      grid-column: 3;
      text-align: left;
    }

    .year-nav {
      text-decoration: none;
      color: var(--accent);
      font-size: 1.5rem;
      letter-spacing: -0.2ch;

      &:visited {
        color: var(--accent-700);
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 2rem;
  }

  li {
    margin: 1rem 0;
    padding: 0;
  }
</style>
